networks: 
  default:
    enable_ipv6: true
  web:
    external: true

services:
  plausible_db:
    restart: unless-stopped
    image: postgres:14.20-alpine@sha256:1bf14357b97fe10f21f2eda7f0d230b2514ab5770ab81cb9cd6cce6750d68b26
    volumes:
      - /home/fzr/plausible/postgresql:/var/lib/postgresql/data:z
    environment:
      - POSTGRES_PASSWORD=(plausible_postgres_password)

  plausible_events_db:
    restart: unless-stopped
    image: clickhouse/clickhouse-server:24.12-alpine
    volumes:
      - /home/fzr/plausible/event-data:/var/lib/clickhouse:z
    configs:
      - source: clickhouse-config
        target: /etc/clickhouse-server/config.d/logging.xml
      - source: clickhouse-user-config
        target: /etc/clickhouse-server/users.d/logging.xml
    environment:
      - CLICKHOUSE_SKIP_USER_SETUP=1
    ulimits:
      nofile:
        soft: 262144
        hard: 262144
    networks:
      default:

  plausible:
    restart: unless-stopped
    image: ghcr.io/plausible/community-edition:v3.1.0@sha256:9703f89e41f7109bda6ae4fc64298474e8bc11f559e791cdda4b04218a92acb1
    container_name: plausible
    command: sh -c "sleep 10 && /entrypoint.sh db createdb && /entrypoint.sh db migrate && /entrypoint.sh run"
    expose:
      - 8000
    depends_on:
      - plausible_db
      - plausible_events_db
    environment:
      - BASE_URL=https://pa.fariszr.com
      - SECRET_KEY_BASE=(plausible_secret_key_base)
      - TOTP_VAULT_KEY=(plausible_totp_vault_key)
      - DISABLE_REGISTRATION=true
      - MAILER_EMAIL=(plausible_from_address)
      - SMTP_HOST_ADDR=(smtp_endpoint)
      - SMTP_HOST_PORT=587
      - SMTP_USER_NAME=(smtp_username)
      - SMTP_USER_PWD=(smtp_password)
      - MAILER_ADAPTER=Bamboo.Mua
      - GOOGLE_CLIENT_ID=(plausible_google_client_id)
      - GOOGLE_CLIENT_SECRET=(plausible_google_client_secret)
    networks:
      default:
      web:

configs:
  clickhouse-config:
    file: /home/fzr/plausible/clickhouse-config.xml
  clickhouse-user-config:
    file: /home/fzr/plausible/clickhouse-user-config.xml
