{
	admin off
}
# generate cert for turn.fariszr.com, but don't serve anything
turn.fariszr.com {
	abort
}

pa.fariszr.com {
	rewrite /js/pls.js /js/plausible.js
	rewrite /js/pls2.js /js/plausible.hash.js
	rewrite /js/pls3.js /js/plausible.outbound-links.js
	rewrite /js/pls4.js /js/plausible.hash.outbound-links.js
	reverse_proxy plausible:8000
	encode zstd gzip
}

matrix.fariszr.com {
	reverse_proxy synapse:8008
	encode zstd gzip
	# Serves the Matrix client .well-known JSON configuration file
	handle /.well-known/matrix/client {
		root * /static # Set root for this handler
		try_files /client =404 # Try to serve /static/client, else 404
		file_server # Serve the file found by try_files (or handle 404 from try_files)
		header Content-Type application/json
		# Ensures correct content type for JSON
	}
}

jwt.matrixrtc.fariszr.com {
	encode zstd gzip
	reverse_proxy lk-jwt-service:8080
}

# Updated LiveKit reverse proxy to use the new domain
matrixrtc.fariszr.com {
	encode zstd gzip
	# Route SFU WebSocket requests to the livekit container on its internal port 7880
	reverse_proxy livekit:7880
}

import /etc/caddy/configs/*.caddyfile
