networks:
  web:
    external: true

services:
  caddy:
    image: caddy:alpine@sha256:d266901f6e0c9d74528463654b7e872e6af8f6bbe23ca13576a1fb601202f8da
    container_name: caddy
    command: caddy run --watch --config /etc/caddy/Caddyfile --adapter caddyfile
    restart: always
    configs:
      - source: Caddyfile
        target: /etc/caddy/Caddyfile
    environment:
      - ETESYNC_DOMAIN=(ETESYNC_DOMAIN)
    ports:
      - 80:80
      - 443:443
      - 443:443/udp
      # - "8448:8448"
    volumes:
      - /home/fzr/caddy/configs:/etc/caddy/configs:ro
      - /home/fzr/caddy/well-known.json:/static/client
      - data:/data
      - config:/config
    networks:
      - web

configs:
  Caddyfile:
    file: /home/fzr/caddy/Caddyfile

volumes:
  data:
  config:
