networks:
  web:
    external: true

services:
  radicale:
    image: tomsquest/docker-radicale:3.5.8.2@sha256:47550b865f261a30f9f6f3703e2f2ecd109aaa0ca47a0ea4634156c89003ec1b
    container_name: radicale
    # ports:
    #   - 127.0.0.1:5232:5232
    init: true
    read_only: true
    security_opt:
      - no-new-privileges:true
    cap_drop:
      - ALL
    cap_add:
      - SETUID
      - SETGID
      - CHOWN
      - KILL
    deploy:
      resources:
        limits:
          memory: 256M
          pids: 50
    healthcheck:
      test: curl -f http://127.0.0.1:5232 || exit 1
      interval: 30s
      retries: 3
    restart: unless-stopped
    volumes:
      - /home/fzr/radicale/data:/data
      - /home/fzr/radicale/config:/config
    networks:
      - web