networks:
  web:
    external: true

services:
  radicale:
    image: tomsquest/docker-radicale:3.6.0.0@sha256:4d46a338ae083db37418eb979e91c2ccfb0c7ef632ab9311b0ef54a41042f064
    container_name: radicale
    # ports:
    #   - 127.0.0.1:5232:5232
    init: true
    read_only: true
    security_opt:
      - no-new-privileges:true
    cap_drop:
      - ALL
    cap_add:
      - SETUID
      - SETGID
      - CHOWN
      - KILL
    deploy:
      resources:
        limits:
          memory: 256M
          pids: 50
    healthcheck:
      test: curl -f http://127.0.0.1:5232 || exit 1
      interval: 30s
      retries: 3
    restart: unless-stopped
    volumes:
      - /home/fzr/radicale/data:/data
      - /home/fzr/radicale/config:/config
    networks:
      - web