name: deploy-caddy

on:
  push:
    paths:
      - '.github/workflows/caddy.yml'
      - 'caddy/**'
    branches: [main]
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      # allows for quicker local debugging
      - name: Add secrets to docker-compose.yml
        env:
          DESEC_TOKEN: ${{ secrets.caddy_desec_token }}
          RADICALE_DOMAIN: ${{ secrets.radicale_domain }}
          ETESYNC_DOMAIN: ${{ secrets.ETESYNC_domain }}
        run: |
          sed -i "s|(DESEC_TOKEN)|$DESEC_TOKEN|g" $GITHUB_WORKSPACE/caddy/docker-compose.yml
          sed -i "s|(RADICALE_DOMAIN)|$RADICALE_DOMAIN|g" $GITHUB_WORKSPACE/caddy/docker-compose.yml
          sed -i "s|(ETESYNC_DOMAIN)|$ETESYNC_DOMAIN|g" $GITHUB_WORKSPACE/caddy/docker-compose.yml

      - name: Start Deployment
        uses: FarisZR/docker-compose-gitops-action@v1.0.1
        with:
          remote_docker_host: ${{ secrets.server_address }}
          ssh_public_key: ${{ secrets.public_ssh_key }}
          ssh_private_key: ${{ secrets.private_ssh_key }}
          compose_file_path: caddy/docker-compose.yml
          args: -p caddy up -d --remove-orphans
          upload_directory: true
          docker_compose_directory: caddy